<app-header></app-header>
<p>
  <img class="img-fluid deco" src="assets/img/dep.jpeg">
</p>
<div class="text">
  <h1 style="font-weight: bolder; font-size: 35px;">Les departements</h1>
  <h2 style="font-weight: bolder; font-size: 35px;">Informatique, Mathématiques et Technologie.</h2>
</div>

<div><br><br><br></div>
<div style="background-color: #e3f2fd; font-size: 19px; ">
    <div><br><br></div>
  <h1 style="color:#19488A; margin-top: 30px; margin-left: 40px; text-align: center; font-weight: bold; font-size: 35px;">LES DEPARTEMENTS</h1>
  <div><br><br><br></div>
  <h3 style="margin-left: 25px;margin-right: 20px; font-size: 19px;">
    L’ ISIMM comporte des départements. Chaque département comprend des unités
    d’enseignement et de formation des unités de recherche et des laboratoires.
    Un département regroupe tous les membres du personnel d’enseignement et de
    recherche de l’isimm appartenant aux grades de l’enseignement supérieur et
    des personnes assimilées et exerçant dans une discipline ou groupe de
    disciplines apparentées. Le département exerce les taches suivantes :
  </h3>
  <ul style="margin-left: 25px">
    <li><p>répartir les charges d’enseignement</p></li>
    <li>
      <p>gérer les enseignements proposés par le conseil scientifique et
        pédagogique de l’institut tout en gérant des conseils de perfectionnement
        par filière ;</p>
    </li>

    <li>
      <p>formuler au conseil scientifique et pédagogique de l’institut toute
        proposition à caractère scientifique et pédagogique ou le directeur de
        l’institut ;</p>
    </li>

    <li><p>exprimer ses besoins en personnel d’enseignement et de recherche ;</p></li>
  </ul>
  <h3 style="margin-left: 25px; font-size: 19px;">
    Le directeur du département est chargé sous l’autorité du directeur de
    l’institut de ce qui suit :
  </h3>
  <ul style="margin-left: 25px">
    <li><p>la coordination des activités du département ;</p></li>
    <li><p>l’organisation des enseignements ;</p></li>
    <li><p>l’exécution des délibérations du conseil d’administration.</p></li>
  </ul>
  <div><br><br><br></div>
</div>
<div><br><br><br></div>
<div class="row justify-content-center">
  <div class="col-lg-3 col-md-5 mb-3">
    <div class="bg-primary-subtle pad listing">
      <div class="card-image">
        <img src="assets/img/lz.jpeg" alt="Mr Lazher" class="w-100 listing-photo">
      </div>
      <div class="card-body">
        <h2 class="card-title" style="color: red; font-size: 19px;">INFORMATIQUE</h2>
        <i class="fa-solid fa-user-tie">  Mr.Lazher Hamel</i>
          <p class="card-text"> 
            <i class="fa-solid fa-envelope"></i><a href="mailto:lazhar.hamel@gmail.com"> lazhar.hamel&#64;gmail.com</a>  
          </p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-5 mb-3">
    <div class="bg-primary-subtle pad listing">
      <div class="card-image">
        <img src="assets/img/md.jpeg" alt="Mr Mohamed" class="w-100 listing-photo">
      </div>
      <div class="card-body">
        <h2 class="card-title" style="color: red;font-size: 19px;">MATHÉMATIQUES</h2>
          <i class="fa-solid fa-user-tie"> Mr.Mohamed ELOUED</i>
          <p class="card-text">
            <i class="fa-solid fa-envelope"></i>
              <a href="mailto: wadyel@yahoo.fr"> wadyel&#64;yahoo.fr</a>
          </p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-5 mb-3">
    <div class="bg-primary-subtle pad listing">
      <div class="card-image">
        <img src="assets/img/sd.jpeg" alt="Mr Sadok" class="w-100 listing-photo">
      </div>
      <div class="card-body">
        <h2 class="card-title" style="color: red;font-size: 19px;">TECHNOLOGIE</h2>
          <i class="fa-solid fa-user-tie"> Mr.Sadok BAZINE</i>
          <p class="card-text">
            <i class="fa-solid fa-envelope"></i>
              <a href="mailto: sadok.bazine@gmail.com"
                > sadok.bazine&#64;gmail.com</a
              >
          </p>
      </div>
    </div>
  </div>


</div>

<div><br><br></div><div><br><br></div>
<app-footer></app-footer>
<app-tgmenu></app-tgmenu>