
<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a href="#"><img src="http://www.isimm.rnu.tn//storage/app/public/coordonnees/May2023/pGmJGgcAUDZCgyHGMGJR.png" alt="ISIMM" width="30" height="24" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ISIMM
          </a>
          <ul class="dropdown-menu">
            <li><p class="title">Presentation</p>
            <ul>
              <li><a href="#" class="dropdown-item">Presentation ISIMM</a></li>
            </ul>
            <li><p class="title">Équipe</p>
              <ul>
                <li><a href="#" class="dropdown-item">Département</a></li>
                <li><a href="#" class="dropdown-item">Conseils Scientifiques</a></li>
                <li><a href="#" class="dropdown-item">Centre 4C</a></li>
                <li><a href="#" class="dropdown-item">Comité de qualité</a></li>
              </ul>
            </li>
            <li><p class="title">Vie étudiante</p>
              <ul>
                <li><a routerLink="/foyers" class="dropdown-item">Foyer</a></li>
                <li><a routerLink="/restauxUniversitaires" class="dropdown-item">Restaurant universitaire</a></li>
                <li><a href="#" class="dropdown-item">Cellule d'écoute</a></li>
              </ul>
            </li>
            <li><p class="title">Vie associative</p>
              <ul>
                <li><a routerLink="/club" class="dropdown-item">Les clubs</a></li>
                <li><a href="#" class="dropdown-item">Les association</a></li>
                <li><a href="#" class="dropdown-item">Les événement</a></li>
              </ul>
            </li>
            <li><p class="title">International</p>
              <ul>
                <li><a href="#" class="dropdown-item">Programme de mobilité</a></li>
                <li><a href="#" class="dropdown-item">Partenariat</a></li>
                <li><a href="#" class="dropdown-item">Stages à l'étranger</a></li>
                <li><a href="#" class="dropdown-item">Partenariats internationaux</a></li>
                <li><a href="#" class="dropdown-item">Consultation et offre</a></li>
              </ul>
            </li>
          </ul>

        <li class="nav-item dropdown">
          <a class="nav-link  active" href="#" role="button" aria-expanded="false">
             FORMATIONS
          </a>
          
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            RECHERCHE
          </a>
          <ul class="dropdown-menu">
            <ul>
              <li><a class="dropdown-item" href="#">Projet de recherche</a></li>
              <li><a class="dropdown-item" href="#">Laboratoires et unités de Recherche</a></li>
            </ul>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ENTREPRISE
          </a>
          <ul class="dropdown-menu">
            <ul><li><a class="dropdown-item" href="#">Offre Stages</a></li></ul>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CONTACTEZ-NOUS
          </a>
          <ul class="dropdown-menu">
            <ul><li><a class="dropdown-item" routerLink="/formulaire">Formulaire</a></li></ul>
          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>
