<app-header></app-header>
    <div class="container1">
        <div class="quarter">
            <div class="divlog">
                <img class="logo" src="https://um.rnu.tn/media/1006/logo-web-um-2020.png?crop=0,0,0,0&cropmode=percentage&width=327&height=85&rnd=133500460210000000" alt="unv logo">
            </div>
            <h1><span id="titre">مركز المهن و اشهاد الكفاءات بجامعة المنستير</span> <span id="title"><br> <br><span id="titolo">C</span>AREER AND <span id="titolo">C</span>OMPETENCY <span id="titolo">C</span>ERTIFICATION <span id="titolo">C</span>ENTER</span></h1>
        </div>
    </div>
    <div class="secondpart">
        <img class="img4c" src="assets/img/4C.png">
        <div id="description"><h1>يهدف مركز المهن و اشهاد الكفاءات الى المساهمة </h1>
            <h1>في دعم التشغيلية و تنمية الكفاءات و اشهادها  </h1>
            <h1> و تطوير ثقافة المبادرة لدى الطلبة و خريجي التعليم</h1>
            <h1> العالي من خلال أنشطة الإعلام و التوجيه و التكوين</h1>
            <h1> .التي يؤمنها</h1></div>
            
        </div>
        <div>
            <h1 class="media">الإعلام و التوجيه المرافقة </h1>
            <div class="thirdpart">
                <h1><i class="fa-solid fa-users-rectangle"></i></h1>
                </div>
        </div>
        
