<app-header></app-header>
<body>
  <div><br><br></div>
  <h1 class="title">Les Clubs</h1>
  <div><br><br></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-primary-subtle pad listing">
          <div class="card-image">
            <img src="assets/img/ieee.jpg" alt="" class="w-100 listing-photo">
          </div>
          <div class="card-body">
            <h2>CLUB IEEE ISIMM</h2>
            <a href="https://www.facebook.com/IEEEISIMMSB">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-primary-subtle pad listing">
          <div class="card-image">
            <img src="assets/img/atia.jpg" alt="" class="w-100 listing-photo">
          </div>
          <div class="card-body">
            <h2>CLUB ATIA ISIMM</h2>
            <a href="https://www.facebook.com/profile.php?id=100086600541050">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-primary-subtle pad listing">
          <div class="card-image">
            <img src="assets/img/cri.jpg" alt="" class="w-100 listing-photo">
          </div>
          <div class="card-body">
            <h2>CLUB CRI ISIMM</h2>
            <a href="https://www.facebook.com/C.R.ISIMM">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-primary-subtle pad listing">
          <div class="card-image">
            <img src="assets/img/cpu.jpg" alt="" class="w-100 listing-photo">
          </div>
          <div class="card-body">
            <h2>CLUB CPU ISIMM</h2>
            <a href="https://www.facebook.com/CPU.ISIMM">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-primary-subtle pad listing">
          <div class="card-image">
            <img src="assets/img/englistic.jpg" alt="" class="w-100 listing-photo">
          </div>
          <div class="card-body">
            <h2 class="mis">CLUB ENGLISTICS ISIMM</h2>
            <a href="https://www.facebook.com/Englistics.isimm">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-primary-subtle pad listing">
          <div class="card-image">
            <img src="assets/img/codebey.jpg" alt="" class="w-100 listing-photo">
          </div>
          <div class="card-body">
            <h2 class="mis listing-heading">CLUB THECODEBEY ISIMM</h2>
            <a href="https://www.facebook.com/TheCodeBey">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>
<app-tgmenu></app-tgmenu>

