<div class="container">
  <br><br><br>
  <h1 class="title">Les Foyers Universitaires à Monastir</h1>
  <br><br><br>
    <div class="row contenitore">
        <div class="col-5">
            <div class="p-3 rounded pad">
              <div class="card-image">
                <img src="assets/img/foyer2.jpg" alt="" class="w-100 rounded mx-auto d-block">
              </div>
              <div class="card-body">
                <h2 class="card-title cdtitle">Foyer Fatouma Bourguiba</h2>
                <p><a class="link-body-emphasis"><i class="fa-solid fa-location-dot"> Adresse</i></a></p>
                <p><a class="link-body-emphasis"><i class="fa-solid fa-phone"> Tél:	73 460 143 / 73 460 142</i></a></p>
                <p><a class="link-body-emphasis"><i class="fa-solid fa-fax"> Fax: 73 460 147</i></a></p>
              </div>
            </div>   
        </div>
      <div class="col-5">
        <div class="p-3 rounded pad">
          <div class="card-image">
            <img src="assets/img/foyer3.jpg" alt="" class="w-100 rounded mx-auto d-block">
          </div>
          <div class="card-body">
            <h2 class="card-title cdtitle">Foyer Universitaire 3 Aout</h2>
            <p><a class="link-body-emphasis"><i class="fa-solid fa-location-dot"> Adresse</i></a></p>
            <p><a class="link-body-emphasis"><i class="fa-solid fa-phone"> Tél:	73 460 739 / 73 461 977</i></a></p>
            <p><a class="link-body-emphasis"><i class="fa-solid fa-fax"> Fax: 73 464 245</i></a></p>
          </div>
        </div>
      </div>
      </div>
      <div class="row contenitore">
        <div class="col-5">
          <div class="p-3 rounded pad">
            <div class="card-image">
              <img src="assets/img/foyer4.jpg" alt="" class="w-100 rounded mx-auto d-block">
            </div>
            <div class="card-body">
              <h2 class="card-title cdtitle">Foyer Universitaire El Bassatine</h2>
              <p><a class="link-body-emphasis"><i class="fa-solid fa-location-dot"> Adresse</i></a></p>
              <p><a class="link-body-emphasis"><i class="fa-solid fa-phone"> Tél:	73 461 648 / 73 461 989</i></a></p>
              <p><a class="link-body-emphasis"><i class="fa-solid fa-fax"> Fax: 73 461 650</i></a></p>
            </div>
          </div>
        </div>
        <div class="col-5">
            <div class="p-3 rounded pad">
              <div class="card-image">
                <img src="assets/img/foyer5.jpg" alt="" class="w-100 rounded mx-auto d-block">
              </div>
              <div class="card-body">
                <h2 class="card-title cdtitle">Foyer Universitaire El Imam Mezri</h2>
                <p><a class="link-body-emphasis"><i class="fa-solid fa-location-dot"> Adresse</i></a></p>
                <p><a class="link-body-emphasis"><i class="fa-solid fa-phone"> Tél:	73 500 250</i></a></p>
                <p><a class="link-body-emphasis"><i class="fa-solid fa-envelope"> Email: {{ 'emem.elmezri@gmail.com' }}</i></a></p>
              </div>
            </div>
          </div>   
        </div>
     
        
        
    
        
</div>
      
      

