<body>
  <div class="d-flex position-relative colored-div">
    <a><img src="assets/img/LOGO.png" class="flex-shrink-0 me-3 picture" alt="isimm"></a>
    <div class="mt-3">
      <h1 class="mt-0">Institut Supérieur d'Informatique  </h1>
      <h1>et de Mathématiques de </h1>
      <h1>l’Université de Monastir</h1>
    </div>
    <form class="d-flex search" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>

  <p>
    <img class="img-fluid" src="assets/img/study.png">
  </p>
  <div><br><br></div>
  <h2 class="tileTitle evidence">Les Actualités</h2>
  <div class="row mt-5">
    <div class="col-3">
      <div class="bg-primary-subtle pad p-3 rounded" (click)="navigateToBourseRecherche()">
        <div class="card-image">
          <img src="assets/img/recherche.png" alt="" class="w-100">
        </div>
        <div class="card-body">
          <h2 class="card-title">Bourse Recherche</h2>
          <p><a href="#"  class="link-body-emphasis"> Liens utiles</a></p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="bg-primary-subtle pad p-3 rounded" (click)="navigateToIntership()">
        <div class="card-image">
          <img src="assets/img/inter.jpg" alt="" class="w-100">
        </div>
        <div class="card-body">
          <h2 class="card-title">Intership</h2>
          <p><a href="#"  class="link-body-emphasis">Stage d'été</a></p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="bg-primary-subtle pad p-3 rounded" (click)="navigateToNotes()">
        <div class="card-image">
          <img src="assets/img/notes.jpeg" alt="" class="w-100">
        </div>
        <div class="card-body">
          <h2 class="card-title">Notes</h2>
          <p><a href="#" class="link-body-emphasis">Les notes de toutes les filières</a></p>
        </div>
      </div>
    </div>
  </div>
  
</body>