<app-header></app-header>
<div class="image"><img    src="assets/img/entre1.jpg"></div>
    <div class="text">
      <h2> DÉVELOPPER
        LES INTERACTIONS</h2>
      
      <h2>AVEC LES ENTREPRISES</h2>
      
    </div>

    <div class="row">
        <div class="col-md-1" style=" margin-left: 220px;
        margin-top: 80px;"><img id="rr" src="assets/img/isi2.jpg"> </div>
        <div class="col-md-5" style="margin-top: -360px; margin-left: 770px;"><h1 style="color: #ff7300; font-weight: bold;">RENCONTRER NOS ÉTUDIANTS</h1></div>   
    </div>
    <div  style="margin-top: -300px; margin-left: 750px; font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 0.9rem;"><p style="font-size: 15px;"> De nombreuses actions destinées à favoriser la proximité <br > entre étudiants et entreprises sont proposées telles que <br >   la participation à des forums, des visites d’entreprises ou <br >  encore à travers des tables-rondes, des conférences, des <br > événements avec les associations étudiantes…</p></div>
   
    <div class="row">
    
        <div class="col-md-5" style="margin-top: 340px; margin-left: 235px;margin-right: -20px;">
            <h1 style="color: #ff7300; font-weight: bold;">RECRUTER DE NOUVEAUX TALENTS</h1></div>
    
        <div class="col-md-1" style="margin-left: -40px; margin-top: 220px;"><img id="rr" src="assets/img/isi.jpg"> </div>
        <div  style="margin-top: -300px; margin-left: 220px; font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 0.9rem;"><p style="font-size: 15px;"> En recrutant au sein de notre institut, votre  entreprise <br> intègre un ingénieur ou technicien aux compétences  <br> scientifiques reconnues, responsable et citoyen, capable  <br> de s’adapter à l’environnement économique et sociétal.<br> Découvrez notre offre de services pour développer votre  <br> marque employeur.</p>
    </div>
   
    <div><br><br></div><div><br><br></div>
    <app-footer></app-footer>
    <app-tgmenu></app-tgmenu>