<app-header></app-header>
<div class="container">
    <br><br><br>
    <h1 class="title">Les Restaurants Universitaires à Monastir</h1>
    <br><br>
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="wrapper">
          <div class="text-box">
            <img class="img-fluid immagine" src="assets/img/ristorante.jpg">
            <h2>Fattouma Bourguiba</h2>
            <p>Le restaurant Universitaire Fattouma Bourguiba est un espace dynamique où les étudiants se réunissent pour se déjauner. Avec un large choix de plats, allant des classiques de la cuisine locale aux plats internationaux, il y en a pour tous les goûts et toutes les préférences alimentaires. L'hygiène est une priorité, avec des normes strictes de propreté et de sécurité alimentaire régulièrement contrôlées. La qualité des repas est également au rendez-vous, grâce à l'utilisation d'ingrédients frais et à une équipe de cuisiniers passionnés qui veillent à offrir des plats savoureux et équilibrés.</p>
            <p><a href="https://maps.app.goo.gl/BMk6GkRK4MXxYeYd7"><i class="fa-solid fa-location-dot"> Adresse</i></a></p>
            <p><a><i class="fa-solid fa-phone"> Tél: 73 460 147</i></a></p>
          </div>
          <div><br><br></div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="wrapper">
          <div class="text-box">
            <img class="img-fluid immagine" src="assets/img/caffetteria-sfocatura-astratta.jpg">
            <h2>Les Roses</h2>
            <p>Le restaurant Universitaire les Roses offre une expérience conviviale et délicieuse pour le dîner. Les étudiants peuvent savourer une variété de plats chauds et froids, des options végétariennes aux plats de viande, le tout préparé avec soin par une équipe de cuisiniers talentueux. L'hygiène est une priorité absolue, avec des normes strictes respectées à chaque étape, de la manipulation des aliments à la propreté des installations. La qualité des repas est garantie grâce à l'utilisation d'ingrédients frais et de saison, assurant des saveurs riches et des plats équilibrés.</p>
            <p><a href="https://maps.app.goo.gl/k2qUcZciBw2rsSD6A"><i class="fa-solid fa-location-dot"> Adresse</i></a></p>
            <p><a><i class="fa-solid fa-phone"> Tél: 73 461 185</i></a></p>
          </div>
          <div><br><br></div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
<app-tgmenu></app-tgmenu>
  