<app-header></app-header>
<app-sottoheader></app-sottoheader>
<div>
    <img src="assets/img/inter.jpg">
<div class="row">

<div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        Étudiants : 
        <br/><br/><br/>
        1368 (2013-2014)
      </div>
      <div class="col">
        Enseignants : 
        <br/><br/><br/> 144 (2013-2014)	
       
      </div>
      <div class="col">
        Departements:
        <br/><br/><br/> 3
      </div>
    </div>
  </div>
</div>
</div>
<div><br><br></div>
<div style="background-color: #e3f2fd;">
  <div class="row">
    <div class="col-md-10"><h1 style="color: red;margin-top: 60px;">UN PÔLE RECHERCHE</h1></div>
</div>
<div class="row">
    <div class="col-md-10"><h2 >POUR EXPÉRIMENTER LES SOLUTIONS DE DEMAIN</h2></div>
</div>
<div class="row">
    <div class="col-md-9"><p> ISIMM vise à répondre aux grands défis scientifiques et technologiques. En lien avec les stratégies nationale, territoriale et les valeurs fondatrices des isimm basées sur l’excellence académique, la recherche isimm allie travaux fondamentaux et appliqués.</p></div>
</div>
<div style="margin-top: 40px; margin-left: -80px;">
  <div class="row">
    <div class="col-md-12">
      <button class="button type1" (click)="fen()">
        <span class="btn-txt">Notre Politique Scientifique</span>
      </button>
      <div><br></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="button type1" (click)="fen()">
        <span class="btn-txt" >Decouvrir les Laboratoires</span>
      </button>
      <div><br></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="button type1" (click)="fen()">
        <span class="btn-txt">Grands Projets de Recherche</span>
      </button>
    </div>
  </div>
  <div><br><br></div>
</div>
</div>
<div class="cha" style="margin-top: 50px;">
  <div class="row">
      <div class="col-md-3" >
          <h1 style=" margin-left: 650px;"><span style="color: red; font-weight: bold; font-size: 35px;">PORTRAITS</span></h1>
         
      </div>

  </div>
  <div class="row">
      <div class="col-md-10" >
         
             <h3 style=" margin-left: 610px;font-weight: bold; font-size: 35px;">DE CHERCHEURS</h3> 
      </div>

  </div>
  <div class="row">
      <div  style= "margin-right: -100px;" class="col-md-4">
          <div class="card" style=" background-color: white;" >
              <img   class="card-img-top rf" src="assets/img/abd.jpg" alt="">
              
              <div class="card-body">
                  <h5 class="card-title" style="color:red ;font-weight: bold; margin-left: 25px;"> Mr. Abdesalem BEN ABDELALI</h5>
                  <p class="card-text"style="color: black;margin-left: 25px;">Docteur en ingénierie des systèmes informatique (ENIS) et en Instrumentation et informatique de l'Image de l'UV de Bourgogne - Maître de conférences en électronique embarquée
                      </p>
             </div>
            
          </div>
      </div>
     
          <div   style= "margin-right: -100px;" class="col-md-4">
              <div class="card" style=" background-color: white;" >
                  <img  class="card-img-top rf1" src="assets/img/ft.jpg" alt="">
                  
                  <div class="card-body">
                      <h5 class="card-title" style="color:red ;font-weight: bold; margin-left: 25px;"> Mr. Fathi BEN BELGACEM</h5>
                      <p class="card-text"style="color: black;margin-left: 25px;"> il travaille actuellement au Département de Mathématiques de l'Université de Monastir. Fethi fait des recherches en EDP non linéaire. Leur projet actuel est « l'équation du transport optimal et du transport non linéaire ».
                          </p>
                 </div>
                
                </div>
                
       
      </div>
      <div     class="col-md-4">
        <div class="card" style=" background-color: white;" >
            <img  class="card-img-top rf1" src="assets/img/mg.png" alt="">
            
            <div class="card-body">
                <h5 class="card-title" style="color:red ;font-weight: bold; margin-left: 25px;"> Mr. Mouhamed Graiet</h5>
                <p class="card-text"style="color: black;margin-left: 25px;"> École Nationale Supérieure d'Informatique et de MathématiquesFilière Ingénierie des systèmes d'information
                    </p>
           </div>
          
          </div>
          
 
</div>
<a href="/tousportrait"   class="button-86" role="button" style="margin-left: 670px; margin-top: 35px;">Voir tous les portraits</a>
    </div>
<div><br><br></div>
      
     
<app-footer></app-footer>
<app-tgmenu></app-tgmenu>
       