<body>
    <div><br><br><br></div>
<div class="imgg">
    <div class="container wrapper">
        <h1>Formulaire</h1>
        <form>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Specialité</label>
                <input type="text" class="form-control" id="example" placeholder="Votre specialité et TD">
              </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" [class.fixed-height-textarea]="true" rows="3"></textarea>
              </div>
            <div class="mb-3">
                <input type="button" class="btn" value="Submit">
              </div>
    
        </form>
    </div>
    <div><br><br><br></div>
</div>
</body>
