
<app-header></app-header>
<div class="d-fex " >
    <h1 style="margin-left: 500px; margin-top: 45px;font-weight: bold;font-size: 45px;"><span style="color: red;">Portraits</span> des personnels</h1>
    
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card" style=" background-color: white;" >
                <img height="260px" class="card-img-top rf" src="assets/img/dir1.jpeg" alt="">
                
                <div class="card-body">
                    <h5 class="card-title" style="color:red ; margin-left: 25px;"> Mr. Halim Sghaier </h5>
                    <p class="card-text"style="color: black;margin-left: 25px;"> Directeur de l'Institut 
                        </p>
               </div>
              
            </div>
        </div>
       
            <div class="col-md-3">
                <div class="card" style=" background-color: white;" >
                    <img height="260px"  class="card-img-top rf1" src="assets/img/admin.jpg" alt="">
                    
                    <div class="card-body">
                        <h5 class="card-title" style="color:red ; margin-left: 25px;"> Mr. KARIM SAYEB</h5>
                        <p class="card-text"style="color: black;margin-left: 25px;"> SECRETAIRE GENERAL
                            </p>
                   </div>
                  
                  </div>
                </div>
                  <div class="col-md-3">
                    <div class="card" style=" background-color: white;" >
                        <img height="260px" class="card-img-top rf2" src="assets/img/hm1.jpg" alt="">
                        
                        <div class="card-body">
                            <h5 class="card-title" style="color:red ; margin-left: 25px;"> Mr.ADEL AYED</h5>
                            <p class="card-text"style="color: black;margin-left: 25px;"> RESPONSABLE DES EMPLOIS 
                                </p>
                       </div>
                      
                      </div>
                    </div>
         
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card" style=" background-color: white;" >
                    <img height="260px" class="card-img-top rf" src="assets/img/anis.jpg" alt="">
                    
                    <div class="card-body">
                        <h5 class="card-title" style="color:red ; margin-left: 25px;"> Mr. ANIS SAYEDI </h5>
                        <p class="card-text"style="color: black;margin-left: 25px;"> RESPONSABLE DES EMPLOIS 
                            </p>
                   </div>
                  
                </div>
            </div>
           
                <div class="col-md-3">
                    <div class="card" style=" background-color: white;" >
                        <img  height="260px"    class="card-img-top rf1" src="assets/img/feyak.jpg" alt="">
                        
                        <div class="card-body">
                            <h5 class="card-title" style="color:red ; margin-left: 25px;"> Mr. FAEIK FRIGUI</h5>
                            <p class="card-text"style="color: black;margin-left: 25px;"> SCOLARITÉ 3ÈME CYCLE :
                                </p>
                       </div>
                      
                      </div>
                    </div>
                      <div class="col-md-3">
                        <div class="card" style=" background-color: white;" >
                            <img height="260px" class="card-img-top rf2" src="assets/img/hm1.jpg" alt="">
                            
                            <div class="card-body">
                                <h5 class="card-title" style="color:red ; margin-left: 25px;"> Mr.FAOUZI FEKIHH</h5>
                                <p class="card-text"style="color: black;margin-left: 25px;"> RESPONSABLE DES STAGES
                                    </p>
                           </div>
                          
                          </div>
                        </div>
             
            </div>
        

            <div class="row">
                <div class="col-md-3">
                    <div class="card" style=" background-color: white;" >
                        <img height="260px" class="card-img-top rf" src="assets/img/fm.webp" alt="">
                        
                        <div class="card-body">
                            <h5 class="card-title" style="color:red ; margin-left: 25px;"> Mme. ZOUARI SAFA</h5>
                            <p class="card-text"style="color: black;margin-left: 25px;">SCOLARITÉ 3IEME CYCLE 
                                </p>
                       </div>
                      
                    </div>
                </div>
               
                    <div class="col-md-3">
                        <div class="card" style=" background-color: white;" >
                            <img  height="260px"    class="card-img-top rf1" src="assets/img/fm.webp" alt="">
                            
                            <div class="card-body">
                                <h5 class="card-title" style="color:red ; margin-left: 25px;"> Mme. WAFA MEZRIOUI</h5>
                                <p class="card-text"style="color: black;margin-left: 25px;"> RESPONSABLE FINANCE 
                                    </p>
                           </div>
                          
                          </div>
                        </div>
                          <div class="col-md-3">
                            <div class="card" style=" background-color: white;" >
                                <img height="260px" class="card-img-top rf2" src="assets/img/hj.jpg" alt="">
                                
                                <div class="card-body">
                                    <h5 class="card-title" style="color:red ; margin-left: 25px;"> Mme.HAJER ABID</h5>
                                    <p class="card-text"style="color: black;margin-left: 25px;"> BIBLIOTHÉCAIRE
                                        </p>
                               </div>
                              
                              </div>
                            </div>
                 
                </div>
            

        

                <div class="row">
                    <div class="col-md-3">
                        <div class="card" style=" background-color: white;" >
                            <img height="260px" class="card-img-top rf" src="assets/img/sw.gif" alt="">
                            
                            <div class="card-body">
                                <h5 class="card-title" style="color:red ; margin-left: 25px;"> Mme. SAWSSEN BEN REJEB</h5>
                                <p class="card-text"style="color: black;margin-left: 25px;">CONSERVATEUR BIBLIOTHÈQUE 
                                    </p>
                           </div>
                          
                        </div>
                    </div>
                   
                        <div class="col-md-3">
                            <div class="card" style=" background-color: white;" >
                                <img  height="260px"    class="card-img-top rf1" src="assets/img/mh.jpg" alt="">
                                
                                <div class="card-body">
                                    <h5 class="card-title" style="color:red ; margin-left: 25px;"> Mr. MEHDI SGHAIER</h5>
                                    <p class="card-text"style="color: black;margin-left: 25px;"> INFORMATICIEN-TECHNICIEN  
                                        </p>
                               </div>
                              
                              </div>
                            </div>
                              <div class="col-md-3">
                                <div class="card" style=" background-color: white;" >
                                    <img height="260px" class="card-img-top rf2" src="assets/img/nj.jpeg" alt="">
                                    
                                    <div class="card-body">
                                        <h5 class="card-title" style="color:red ; margin-left: 25px;"> Mr.NEJMEDDINE RASSAS</h5>
                                        <p class="card-text"style="color: black;margin-left: 25px;"> INFORMATICIEN-TECHNICIEN
                                            </p>
                                   </div>
                                  
                                  </div>
                                </div>
                     
                    </div>
<div><br><br><br></div>
 <app-footer></app-footer> 
 <app-tgmenu></app-tgmenu>  
            
    
            
