<aside id="sidebar" class="js-sidebar">
    <!-- Content For Sidebar -->
    <div class="h-100">
        <div class="sidebar-logo">
            <a href="#">Isimm</a>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Student Elements
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-list pe-2"></i>
                    Actualité
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-regular fa-calendar"></i>
                    Emploi du temps
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-solid fa-file-lines pe-2"></i>
                    Cours
                </a>
                <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Page 1</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Page 2</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#posts" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-solid fa-briefcase"></i>
                    Offres
                </a>
                <ul id="posts" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Offre de stage</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Offre d'emploi</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#auth" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-regular fa-user pe-2"></i>
                    Auth
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Login</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Register</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Forgot Password</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-header">
                Multi Level Menu
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#multi" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-solid fa-share-nodes pe-2"></i>
                    Autre
                </a>
                <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#level-1"
                            data-bs-toggle="collapse" aria-expanded="false">Informations</a>
                        <ul id="level-1" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Notes</a>
                            </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Formulaie en ligne</a>
                        </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Fiche des renseignements</a>
                            </li>
                        </ul>
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#level-2"
                            data-bs-toggle="collapse" aria-expanded="false">Ressources</a>
                        <ul id="level-2" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item">
                                <a href="http://www.biruni.tn/accueil.php" class="sidebar-link">Bibliothèque</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Anciens examens</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Université de Monastir</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-bell"></i> 
                    Notifications
                </a>
            </li>
        </ul>
    </div>
</aside>
        